*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../Images/back.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -500;

}



.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #6b6262;
    transition: 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     border: 2px solid;
    border-radius: 25px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    transition: 0.3s ease;
 

}

.dropdown:hover .dropdown-content {
    display: block;
    border: 2px solid;
    border-radius: 25px;
    transition: 0.3s ease;
}

footer{
    position: relative;
    right: 0;
    top: 520px;
    text-align: right;

}

#foto{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 90px;
    left: 350px;
    border: 2px solid;
    border-radius: 25px;
}

#foto:hover{
    top: 85px;
    left: 345px;
    border: 2px solid;
    border-radius: 25px;
    transition: 0.3s ease;
}

 #info{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;   
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    padding-left: 10px;
    top: 130px;
    left: 650px;
}

#info:hover{
    top: 125px;
    left: 645px;
    transition: 0.3s ease;
}

#info2{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;   
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    padding-left: 10px;  
    top: 400px;
    left: 350px;
}

#info2:hover{
    top: 395px;
    left: 345px;
    transition: 0.3s ease;
}

#info3{
    position: absolute;
   background-color: white;
    width: 250px;
    height: 200px;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 14px;
    top: 350px;
    left: 650px;
}

#info3:hover{
    top: 345px;
    left: 645px;
    transition: 0.3s ease;
}

#info p{
    padding: 3px;
}

#info2 p{
    padding: 3px;
}

#info3 p{
    padding: 3px;
}

 main{
    max-width: 980px;
    margin: 0 auto;

 }

 #sectie{
    width: 250px;
    display: inline-block;
}


 }

 img:hover{
    margin-top: -2px;
    border: 2px solid;
    border-radius: 25px;
    transition: 0.3s ease;
 }

 #course{
    position: absolute;
    background-color: white;
    width: 450px;
    height: 400px;   
    display: inline-block;
    margin-left: 215px;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 100px;
    padding: 5px;
    top: 50px;
    left: 155px;
}

 #course:hover{
    top: 45px;
    left: 145px;
    transition: 0.3s ease;
 }



  #future{
    position: absolute;
    background-color: white;
    width: 450px;
    height: 320px;  
    display: inline-block;
    margin-left: 215px;
    border: 2px solid;
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 100px;
    top: 50px;
    left: 155px;

 }

 #future:hover{
    top: 45px;
    left: 145px;
    transition: 0.3s ease;
 }

 #adresme{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 80px;
    display: inline-block;
    margin-left: 16px;
    border: 2px solid;
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 14px;
    left: 690px;
    top: 430px;
}


 #adresschool{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 100px;
    display: inline-block;
    margin-left: 16px;
    border: 2px solid;
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 14px;
    left: 737px;
    top: 300px;
}

#adresschool:hover{
    left: 732px;
    top: 295px;
    transition: 0.3s ease;
}

#pad{
    padding: 8px;
}


 #course1{
    position: absolute;
    background-color: white; 
    width: 250px;
    height: 200px;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 14px;
    top: 50px;
    left: 125px;
    

 }

 #course1:hover{
    top: 45px;
    left: 120px;
    transition: 0.3s ease;

 }


 #course2{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 14px;
    top: 50px;
    left: 450px;

 }

 #course2:hover{
    top: 45px;
    left: 445px;
    transition: 0.3s ease;
 }

  #course3{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 14px;
    top: 50px;
    left: 775px;
 }

 #course3:hover{
    top: 45px;
    left: 770px;
    transition: 0.3s ease;
 }

  #course4{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 14px;
    top: 350px;
    left: 125px;

 }

 #course4:hover{
    top: 345px;
    left: 120px;
    transition: 0.3s ease;
 }

   #course5{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 14px;
    top: 350px;
    left: 450px;

 }

 #course5:hover{
    top: 345px;
    left: 445px;
    transition: 0.3s ease;
 }

   #course6{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 14px;
    top: 350px;
    left: 775px;
 }

 #course6:hover{
    top: 345px;
    left: 770px;
    transition: 0.3s ease;
 }

 #course7{
    background-color: white;
    position: absolute;
    width: 350px;
    height: 317px;   
    display: inline-block;
    margin-left: 260px;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 100px;
    padding: 5px;
    left: 150px;
    top: 100px;
}

#course7:hover{
    left: 145px;
    top: 95px;
    transition: 0.3s ease;


}

#java{
    width: 350px;
    height: 284px; 
    border: 2px solid;
    border-radius: 25px;
  
}

.maat{
    width: 250px;
    height: 200px;
    border-radius: 25px;
    margin: 0 auto;

   
}

#school{
    top: 80px;
    left: 160px;
    border: 2px solid;
    border-radius: 25px;
    position: absolute;
}


  #school:hover{
    top: 75px;
    left: 155px;
    border: 2px solid;
    border-radius: 25px;
    transition: 0.3s ease;
  
  }

  #app{
    top: 150px;
    left: 870px;
    border: 2px solid;
    border-radius: 25px;
    position: absolute;
  }

  #app:hover{
        top: 145px;
        left: 865px;
        transition: 0.3s ease;
  }

  #app1{
    top: 150px;
    left: 870px;
    position: absolute;
  }

  #app1:hover{
        top: 145px;
        left: 865px;
        transition: 0.3s ease;
  }

  #welkom{
    top: 150px;
    left: 230px;
    position: absolute;
  }

 

  #ik{
    top: 80px;
    left: 160px;
    border: 2px solid;
    border-radius: 25px;
    position: absolute;
}


  #ik:hover{
    top: 75px;
    left: 155px;
    border: 2px solid;
    border-radius: 25px;
    transition: 0.3s ease;
  
  }